* {
  font-family: Poppins, sans-serif;
}

.txt {
  &-right {
    text-align: right;
  }
  &-left {
    text-align: left;
  }
  &-center {
    text-align: center;
  }
}

// Ant Design override
.ant-row {
  &.ant-form-item {
    .ant-form-item-label {
      > label {
        color: #919699;
        font-size: 13px;
        font-family: Poppins, sans-serif;
        font-weight: 300;
        display: flex;
        align-items: center;
        line-height: 1.2;
        height: auto;
      }
    }
  }
}

.ant-form {
  .ant-input {
    &:not(textarea) {
      height: 40px !important;
    }
  }
}

.ant-btn {
  height: 40px !important;
}

.user-avatar-menu {
  min-width: 204px !important;
}

.ant-collapse {
  background-color: #fff;
  border: none;
  border-radius: 0;
}

.ant-collapse > .ant-collapse-item:last-child, .ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header {
  border-radius: 0;
}